@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: 
    local('Roboto'),
        url('/dest/fonts/roboto/Roboto.woff2') format("woff2"),
        url('/dest/fonts/roboto/Roboto.woff') format("woff");
    }
    
@font-face {
    font-family: 'RobotoMedium';
    font-style: normal;
    font-weight: 500;
    src: 
        local('Roboto'),
        url('/dest/fonts/roboto/Robotomedium.woff2') format("woff2"),
        url('/dest/fonts/roboto/Robotomedium.woff') format("woff");
}

@font-face {
    font-family: 'RobotoBold';
    font-style: normal;
    font-weight: 700;
    src: 
        local('Roboto'),
        url('/dest/fonts/roboto/Robotobold.woff2') format("woff2"),
        url('/dest/fonts/roboto/Robotobold.woff') format("woff");
}

$btn_color: #FAC62D;
$btn_hover_color: #F0B505;
$btn_active_color: #E1AB08;

$max: 1280px;
$big: 1120px;
$medium: 920px;
$small: 580px;
$tiny: 450px;
$min: 320px;

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.main {
    position: relative;
    font-family: 'Roboto', 'Arial', sans-serif;
    margin: 0 auto;
    max-width: $max;
    min-width: $min;
    background-color: #e5e5e5;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main__header {
    font-family: 'RobotoBold';
    text-align: center;
    margin-bottom: 50px;
}

.main__btn {
    margin: 0 auto;
    width: 200px;
    padding: 12px 24px;
}

.yellow_btn {
    font-family: 'RobotoMedium', 'Arial', sans-serif;
    font-size: 14px;
    height: 44px;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: $btn_color;
    outline: none;
    border: none;

    &:hover {
        background-color: $btn_hover_color;
    }

    &:active {
        background-color: $btn_active_color;
    }
}
